html{
    padding: 0; margin: 0;
    background-color: #1D2B35;
    color: whitesmoke;
}
body{
    padding: 0; margin: 0 auto;
    color: whitesmoke;
    max-width: 1280px;
}

.row{
    max-width: 1280px;
}

#topbar{
    position: relative;
    left: 0; top: 0;
    height: 5em;
    width: 100%;
    text-align: justify;
    text-align-last: justify;

}
#logo{
    position: relative;
    height: 100%;
    width: auto;
    left: 1em;
    display: inline-block;
    vertical-align: middle;

}
#logo > object{
    position: relative;
    top: 1em;
    height: 3em;
    width: auto;
    vertical-align: top;
}
#logo > span{
    position: relative;
    font-size: 2em;
    left: .25em;
    line-height: 2.5em;
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    
}

#nav{
    position: relative;
    text-align: left;
    text-align-last: left;
    display: inline-block;
    vertical-align: middle;

}

.nav-item{
    padding: 0 1em;
}
.nav{
    display: none;
}


#footer{
    position: relative;
    padding: .5em;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
#footer > div{
    margin: 1em;
}
#copyright{
    position: relative;
    padding-top: 2em;
}

.container{
    min-height: 750px;
    display: none;
}
.container.active{
    display: block;
}

section{
    margin-bottom: 4em;
    text-align: center;
}
.imageSection{
    padding-top: 5em;
}
.imageSection > div{
    display: inline-block;
    max-width: 320px;
    text-align: left;
}
.imageSection > img{
    width: 90%;
    max-width: 300px;
}
.imageIntro > h2{
    font-size: 3.5em;
    margin: 0;
}
.imageIntro > p{
    font-size: 1.3em;
}
.imageIntro > button{
    margin: 1.5em 0;
}

#home-outro > h3{
    font-size: 2.5em;
    margin: 0px;
}

button{
    padding: 1em 2em;
    border-radius: 3em;
    background-color: #FF5151;
}

.card{
    width: 180px;
    display: inline-block;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    text-align: left;
    padding: 1em;
    margin: 10px;
}
.card > .icon{
    display: block;
    width: 3em;
    height: 3em;
    background-color: azure;
    border-radius: .25em;
    margin: .5em;
}
.card > .icon::before{
    content: "";
    background-color: inherit;
    opacity: .5;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: inherit;
    margin: .5em;
}

.card.profile{
    text-align: center;
}
.card.profile > img{
    position: relative;
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: azure;
}

@media (max-width: 470px) {
    .card{
        width: 90%;
    }
    .card > .icon{
        float: left;
        margin-right: 1.5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
